:root {
    --links: #00488A;
    --background-color: #f5f5f5;
    --color: #000000;
    --border-color: rgb(212, 212, 212);
    --tag-background: rgb(234, 234, 234);
    --tag-color: rgb(94, 94, 94);
    --black-white-base: #000000;
    --black-white-sigf: #ffffff;
    --spinner: url(https://alphabrate.github.io/icons/onlight.load_ellipse.svg);
    --stressed-bg: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --links: #00aaff;
        --background-color: #1a1a1a;
        --color: #ffffff;
        --border-color: rgb(55, 55, 55);
        --tag-background: rgb(67, 67, 67);
        --tag-color: rgb(209, 209, 209);
        --black-white-base: #ffffff;
        --black-white-sigf: #000000;
        --spinner: url(https://alphabrate.github.io/icons/ondark.load_ellipse.svg);
        --stressed-bg: #292727;
    }
}

html {
    overflow-x: hidden;
    width: 100vw;
}

*::selection {
    background: rgba(20, 90, 113, 0.2);
}

a {
    outline: none;
    color: var(--links);
}

body {
    background: var(--background-color);
    color: var(--color);
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    overflow-x: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 5rem;
    width: 100vw;
    padding: 0;
}

p {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 55px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.product {
    position: relative;
    margin: 50px auto;
    width: 80%;
    padding: 25px 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px #00000015;
}

.product>.image>svg {
    margin: 10px;
}

.intro>h1 {
    margin: 75px 0;
}

.product[text-left]::before {
    content: attr(data-text);
    position: absolute;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    top: -13.5px;
    left: 15px;
    padding: 5px;
    letter-spacing: 0.02rem;
    background: #000000;
    color: white;
}

.product[text-right]::before {
    content: attr(data-text);
    position: absolute;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    top: -13.5px;
    right: 15px;
    padding: 5px;
    letter-spacing: 0.02rem;
    background: #000000;
    color: white;
}

.product>.des {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.product>.des>p {
    user-select: text;
    font-size: 20px;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img.qr {
    margin: 15px;
    max-width: 150px;
    border-radius: 15px;
    user-select: none;
    -webkit-user-drag: none;
}

.relative {
    position: relative;
}

img.qr-frame {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 165px;
    opacity: 0.2;
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    img.qr {
        filter: invert(1);
    }
}

button:not(.puJS-popup-button):not(.save-button),
label {
    font-size: .9rem;
    padding: .8rem 1.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: var(--black-white-base) !important;
    color: var(--black-white-sigf) !important;
    text-decoration: none;
    transition: .3s;
    user-select: none;
    -webkit-user-drag: none;
}

.des>a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

input:not(.pujs-popup-inp) {
    max-width: 60%;
    font-weight: normal;
    font-size: 18px;
    margin: 10px;
    padding: 5px 20px;
    border: 2px solid var(--border-color);
    color: var(--color);
    border-radius: 7px;
    outline: none;
    background-color: transparent;
    text-overflow: ellipsis;
}

input[type="file"] {
    display: none;
}

.product>.image {
    display: flex;
    flex-direction: column;
}

.image>img {
    margin: 15px;
    border-radius: 15px;
    user-select: none;
    -webkit-user-drag: none;
}

.image>svg {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 10px #00000025;
}

#eta {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background: transparent;
    margin: 5rem auto;

    span:not(.del) {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        --radius: 11px;
        color: rgb(18, 18, 18);
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        margin: 0 auto;
        width: 80%;
        border: 2px solid var(--border-color);
    }

    span:not(.del)>.upper {
        padding: 7px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    span:not(.del)>.lower {
        display: flex;
        flex-direction: row;
        width: 100%;

        img {
            user-select: none;
            width: 100%;
            margin: 0;
            border-radius: 0px;
            /* Hide if too height is too large */
            max-height: 200px;
            max-width: initial;
            object-fit: cover;
        }

        audio {
            display: none;
        }

        .audio {
            user-select: none;
            -webkit-user-drag: none;
            color: #A0A0A0;
            background: var(--stressed-bg);
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            font-weight: normal;
            font-size: 16px;
            height: 35px;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;

            .fixed-length {
                width: 2rem;
            }

            .toggle {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 .8rem;
                padding-left: 1.2rem;
                cursor: pointer;
                width: 1rem;
                height: 70%;

                * {
                    fill: #CACACA;
                    stroke: #CACACA;
                }
            }

            .timeLine {
                width: calc(100% - 12rem);
                margin: 0 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            input[type=range] {
                all: initial;
                user-select: none;
                -webkit-user-drag: none;
                position: absolute;
                margin: auto 0;
                width: 100%;
                -webkit-appearance: none;
                appearance: none;
                background: transparent;
                outline: none;
                height: 5px;
                border-radius: 3px;
                overflow: hidden;
            }

            input[type=range].top {
                overflow: visible;
            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 5px;
                height: 5px;
                cursor: pointer;
                border-radius: 50%;
                background: #8C8C8C;
                box-shadow: -10004px 0 0 10000px #8C8C8C;
            }

            input[type=range].top::-webkit-slider-thumb {
                width: 9px;
                height: 9px;
                background: #FFF;
                box-shadow: initial;
                transform: translateY(-2.25px);
            }

            input[type=range].top::-webkit-slider-runnable-track {
                width: 100%;
                height: 5px;
                border-radius: 3px;
                cursor: pointer;
                background: transparent;
            }



            input[type=range]::-webkit-slider-runnable-track {
                width: 100%;
                height: 5px;
                border-radius: 3px;
                cursor: pointer;
                background: #545454;
            }

        }

    }

    .preview {
        margin-top: 1rem !important;
        border-top: 2px solid var(--border-color) !important;
        border-radius: var(--radius);
    }

    .preview+span {
        margin-top: 1rem;
        border-top: 2px solid var(--border-color) !important;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
    }

    span:not(.preview):has(+ .preview) {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }

    span {
        position: relative;
    }

    .tag {
        user-select: none;
        background: var(--tag-background);
        color: var(--tag-color);
        font-size: 12px;
        font-weight: 500;
        height: fit-content;
        width: fit-content;
        margin: auto 0;
        margin-right: .7rem;
        padding: 0 4px;
        border-radius: 2px;

        &.right {
            position: absolute;
            right: 0;
        }

        &.number {
            font-family: 'SF Mono', monospace;
        }
    }

    span a {
        color: var(--color);
        text-decoration: none;
        width: calc(100% - 10rem);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    span .del {
        user-select: none;
        color: red;
        cursor: pointer;
        position: absolute;
        right: 1.5rem;
    }

    span:first-child {
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
    }

    span:not(:first-child) {
        border-top: none;
    }

    span:last-child {
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}

.nowrap {
    white-space: nowrap;
}

.message b {
    display: block;
    width: 80%;
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 auto;
}

.margin-bottom {
    margin: 2rem;
}

.margin-bottom-half {
    margin: 1rem;
}

.footer {
    color: gray;
    padding: 0;
}

.spinner {
    --size: 25px;
    width: var(--size);
    height: var(--size);
    background: var(--spinner) no-repeat center;
    background-size: var(--size);
    margin: 0 auto;
    animation: spin 1s infinite steps(12, end);
    max-height: 0;
    margin-bottom: 0;
    transition: .5s;
}

.spinner.show {
    max-height: var(--size);
    margin-bottom: 1.5rem;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 460px) {
    .audio {
        font-size: 14px !important;

        .fixed-length {
            width: 1rem !important;
        }

        .timeLine {
            width: calc(100% - 9rem) !important;
        }

        .duration.fixed-length {
            transform: translateX(-1rem);
        }
    }

    a {
        font-size: 1.2rem;
    }

    #eta {
        span:not(.del) {
            border: 1px solid var(--border-color);
        }
    }

    .color-border {
        --padding: 1px;
    }
}

.color-border {
    --padding: 2px;
    padding: var(--padding);
    position: relative;
}

.color-border::before {
    content: '';
    position: absolute;

    top: -600%;
    left: -30%;
    right: 0;
    bottom: 0;

    height: 1200%;
    width: 150%;

    z-index: -1;


    background: linear-gradient(98.94deg, #F05D5F -0.01%, rgba(122, 40, 199, 0.918155) 15.78%, rgba(94, 214, 233, 0.883733) 44.65%, rgba(0, 255, 89, 0.87) 54.7%, rgba(243, 69, 0, 0.835149) 82.87%, #FF0000 100.4%);

    /* z-index: -1; */

    background-repeat: no-repeat;
    animation: border-rotate 1.7s linear forwards;
}

@keyframes border-rotate {
    0% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(360deg);
        background: linear-gradient(98.94deg, #F05D5F -0.01%, rgba(122, 40, 199, 0.918155) 15.78%, rgba(94, 214, 233, 0.883733) 44.65%, rgba(0, 255, 89, 0.87) 54.7%, rgba(243, 69, 0, 0.835149) 82.87%, #FF0000 100.4%);
        opacity: 1;
    }

    100% {
        transform: rotate(540deg);
        background: linear-gradient(98.94deg, #F05D5F -0.01%, rgba(122, 40, 199, 0.918155) 15.78%, rgba(94, 214, 233, 0.883733) 44.65%, rgba(0, 255, 89, 0.87) 54.7%, rgba(243, 69, 0, 0.835149) 82.87%, #FF0000 100.4%);
        opacity: 0;
    }
}

.color-border::after {
    content: '';
    position: absolute;

    top: var(--padding);
    left: var(--padding);
    right: var(--padding);
    bottom: var(--padding);

    background: var(--background-color);

    /* Crop the content */

    border-radius: 9px;
    z-index: -1;
}

.drop {
    transition: .1s;
}

.drop.show {
    border: 1px solid lightgreen;
    box-shadow: 0 0 10px lightgreen;
}

.color-gray {
    color: gray;
}

.cursor.pointer {
    cursor: pointer;
    user-select: none;
}

:root {
    --button-width: 51px;
    --button-height: 31px;
    --toggle-diameter: 27px;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 0.12rem;
    --toggle-wider: 33.3px;
    --transition-time: 0.3s;
    --switch-color-gray-light: rgba(120, 120, 128, 0.16);
    --switch-color-gray-dark: rgba(120, 120, 128, 0.32);
    --switch-color-green-light: #34C759;
    --switch-color-green-dark: #30D158;
}

@media (prefers-color-scheme: dark) {
    :root {
        --switch-color-gray: var(--switch-color-gray-dark);
        --switch-color-green: var(--switch-color-green-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --switch-color-gray: var(--switch-color-gray-light);
        --switch-color-green: var(--switch-color-green-light);
    }
}

span.switch {
    transition: var(--transition-time);
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--switch-color-gray);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
}

span.switch::after {
    cursor: pointer;
    transition: var(--transition-time);
    content: '';
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: white;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

span.switch.checked {
    transition: var(--transition-time);
    background-color: var(--switch-color-green);
}

span.switch.checked::after {
    transition: var(--transition-time);
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--toggle-shadow-offset)));
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 0px 1px rgba(0, 0, 0, 0.04);
}

span.switch:active::after {
    transition: var(--transition-time);
    width: var(--toggle-wider);
}

span.switch.checked:active::after {
    transition: var(--transition-time);
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.switch.settings {
    position: absolute;
    right: 0;
    margin: 1rem;
}

body>div.settings {
    margin-top: 2rem;
}

.settings-container {
    margin: 3rem auto;
}



div.settings {

    max-width: 500px;

    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;

    margin-bottom: 1rem;

    .title {
        color: gray;
        width: 75%;
        margin: 0.2rem auto;
        margin-top: 1rem;
    }

    .switch-element {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: var(--stressed-bg);
        padding: .5rem 1.5rem;

        border-radius: 17px;

        border: 2px solid var(--border-color);

        
        border-bottom: none;
    }

    .switch-element:first-child {
        border-radius: 17px 17px 0 0;
    }

    .switch-element:last-child {
        border-radius: 0 0 17px 17px;
        border-bottom: 2px solid var(--border-color);
    }

    .switch-element:first-child:last-child {
        border-radius: 17px;
    }

    .switch-element:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    .settings-value-placeholder {
        color: var(--color);
        opacity: 0.3;
    }

    .settings-value {
        color: var(--color);
        margin-left: 1rem;

        font-size: 1.2rem;

        border: none;
    }

    .rounded {
        border-radius: 17px !important;
        border-bottom: 2px solid var(--border-color);
    }
}

.input-set {
    position: relative;

    input {
        max-width: initial;
        margin: 0 .7rem !important;
        width: calc(100% - 40px - 1.4rem) !important;
        height: 25px !important;

        border-radius: 11px;
        
    }
}

.input-set>input:not(:placeholder-shown)~.placeholder {
    color: var(--color);
    opacity: 0.7;
    transform: translateY(calc(-100% - 10px));
    left: 30px;
    --size: 14px;
    background: var(--background-color);
}

.input-set>input::placeholder {
    color: transparent;
}

.input-set>.placeholder {
    content: attr(data-key);
    position: absolute;
    --size: 18px;
    height: var(--size);
    font-size: var(--size);
    line-height: var(--size);
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    padding: 0 7px;
    color: var(--color);
    opacity: 0.3;
    transition: .3s;
}

.save-button {
    background: var(--stressed-bg);
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 7px 20px;
    cursor: pointer;
    color: var(--color);
    font-size: 1.2rem;
    transition: .3s;
    width: fit-content;
    margin: 0rem auto;
}

center.back {
    margin: 1rem auto;
}